.text-white {
  color: white;
}

.primary-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.secondary-btn {
  background-color: #2e4049;
  color: white;
  border: none;
  padding: 1rem 1.6rem;
  border-radius: 30px;
  cursor: pointer;
}
