@import url("https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}
/* Start main header one */
.main-header {
  width: 100%;
  /* height: 16%; */
  position: fixed;
  top: 0;
  left: 0;
  background-color: #77d7d3;
  cursor: pointer;
  z-index: 5;
  overflow: auto;
}
.wer {
  width: 60%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-header__contact-items {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
.main-header__contact-item {
  padding-right: 1.4rem;
  font-size: 0.9rem;
}
.main-header__contact-item i {
  padding-right: 0.5rem;
  font-size: 0.9rem;
}
.main-header__social {
  background: #5bafab;
  height: 50px;
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
}
.toggle-button__bar {
  padding: 0 0.5rem;
}
.toggle-button__bar i {
  font-size: 0.9rem;
}
/* End main header one */

/* Start main header two */
.main-header-two {
  width: 100%;
  height: 80px;
  position: fixed;
  top: 3rem;
  left: 0;
  padding-top: 1rem;
  /* margin-top: 3rem; */
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
}
.main-header-two__wer {
  width: 60%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-header-two__brand img {
  height: 3.5rem;
  vertical-align: middle;
}
.main-nav__items {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
.main-nav__item {
  padding: 0 1rem;
  align-self: center;
}
.main-nav__item a {
  text-decoration: none;
  color: #2e4049;
  font-weight: 600;
  font-size: 0.7rem;
}
.main-nav__item a:hover {
  color: #5bafab;
}
.vertical-line {
  border-right: 1px solid #ccc;
}

.main-nav__item-cta {
  background: #ff6d6d;
  border-radius: 50px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}
.main-nav__item-cta:hover {
  background: #eb7676;
}

.main-nav__item-cta a {
  text-decoration: none;
  color: #ffff;
  font-size: 0.8rem;
}
/* .main-nav__item-cta a:hover{
    color: #2E4049;
} */

/* End main header two */




/* start of footer section */
.footer {
    width: 100%;
    height: 100%;
    background-color: #2e4049;
    position: relative;
    top: 100vh;
    left: 0;
  }
  .footer-center{
    width: 60%;
    margin: auto;
  }
  .footer-flex{
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
  }
  .footer-left{
    width: 30%;
    margin-top: 4rem;
  }
  .logo img{
    width: 160px;
    height: 50px;
  }
  .logo p{
    font-family: "poppins";
    font-size: 0.8rem;
    color: #fff;
    margin-bottom: 1.8rem;
  }
  .logo span{
    margin-right: 0.8rem;
  }
  .footer-social-icon{
    width: 50%;
    height: 50%;
    background-color: #3b5d6e;
    color: #fff;
    border-radius: 100%;
    padding: 8px 12px;
  }
  
  .footer-right{
    width: 70%;
    height: 100%;
    margin-top: 4rem;
    background-color: #3b5d6e;
  }
  .footer-right-flex{
    display: flex;
    align-items: center;
    justify-content: start;
  }
  .all-list{
    margin-top: 2.5rem;
    margin-left: 2.5rem;
    margin-right: 3rem;
    margin-bottom: 2rem;
  }
  .footer-items{
    list-style: none;
  }
  .footer-title{
    font-family: "Frank Ruhl Libre", serif;
    font-size: 1.3rem;
    color: #fff;
    margin-bottom: 1rem;
  }
  .footer-item{
    font-family: "poppins";
    font-size: 0.8rem;
    color: #fff;
    margin-bottom: 0.5rem;
  }
  #cc{
    color: #ff6d6d;
  }
  #newyork{
    padding-bottom: 1.5rem;
  }
  .footer-hr{
    color: #bbafaf;
  }
  .copy-right{
    font-family: "poppins";
    font-size: 0.8rem;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
  }
  /* end of footer section */